* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", Roboto, "Helvetica", Helvetica, "Arial", Arial,
    sans-serif;
}
body {
  background-color: rgba(0, 0, 0, 0.1);
  margin-bottom: 200px;
}
a {
  text-decoration: none;
  color: inherit;
}
