.navbar {
  width: 100%;
  box-shadow: 0px 0px 0px rgb(85 85 85 / 8%), 0px 2px 16px rgb(85 85 85 / 16%);
  background: #fff;
  padding: 0 36px;
  height: 60px;
  display: flex;
  align-items: center;
  overflow: hidden;
  justify-content: space-between;
}

.logo img {
  /* overflow: hidden; */
  width: 200px;
  height: 50px;
}

.navbar a {
  /* float: left; */
  display: block;
  color: black;
  text-align: center;
  padding: 0 16px;
  text-decoration: none;
  font-size: 20px;
}
.navbar .btn {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}

.active {
  background-color: #04aa6d;
  color: white;
}

.navbar .icon {
  display: none;
}
.navbar > :first-child {
  display: flex;
  align-items: center;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .btn {
  color: #2a2a2a;
  font-size: 0.875rem;
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-menu a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown:hover .btn {
  /* background-color: #555555; */

  color: #ce297e;
}

.dropdown-menu a:hover {
  background-color: #cccccc;
  color: black;
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 10px;
}

#right_nav {
  /* width: 100%; */
  display: flex;
  margin-right: 50px;
}
#right_nav > div {
  font-size: 12px;
  cursor: pointer;
  color: #333;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0 5%;
  margin-left: 20px;
}

#right_nav > div > p {
  margin-top: 5px;
  font-size: 11px;
  /* font-weight: bold; */
}
#right_nav #searchBox {
  position: fixed;
  top: 11px;
  right: 12%;
  flex-direction: row;
  display: flex;
  /* border: 1px solid red; */
}

#right_nav #serch_cancle {
  font-size: 16px;
  top: auto;
  left: 30px;
  position: relative;
  /* padding-left: 100px; */
  /* border: 2px solid red; */
}
#right_nav #serch_icon {
  font-size: 16px;
  top: auto;
  right: 30px;
  position: relative;
  /* padding-left: 100px; */
  /* border: 2px solid red; */
}
#right_nav #searchBox input {
  /* border: none; */
  /* border: 1px solid red; */
  outline: none;
  /* background-color: transparent; */

  font-size: 16px;
  height: 40px;
  padding: 5px 35px;
  border-radius: 5px;

  width: 680px;
}
.serch_item {
  display: none;
}
input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

#app {
  width: 90%;
  margin: auto;
  /* border: 1px solid red; */
}
#main_category {
  margin-top: 8px;
  font-size: 14px;

  display: flex;
  width: 100%;
}
#main_category div {
  padding-right: 25px;
  font-size: 0.813rem;
  color: #666161;
}

#main_category > :first-child p {
  color: black;
  border-bottom: 1.5px solid #9c3;
}
#sub_category {
  /* border: 2px solid red; */
  /* margin: auto; */
  overflow: scroll;
  margin: 30px 0;
  width: 100%;
  display: flex;
}
#sub_category::-webkit-scrollbar {
  display: none;
}
.sub_category_card {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  width: 100px;
  align-items: center;
}
.category_card_icon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
}
.category_card_icon img {
  width: 100%;
}

.category_card_title {
  margin-top: 5px;
  text-transform: uppercase;
  font-size: 11px;

  color: #666161;
}

.offers_slider_header {
  padding: 5px;
  background: #ffe8f0;
  display: flex;
  margin-top: 10px;

  align-items: center;
}
.offers_slider_header img {
  margin-right: 15px;
  width: 50px;
}
.offers_slider_header p {
  font-size: 12px;
  padding-top: 10px;
}
.offers_slider_header h6 {
  font-size: 12px;
}

.offers_slider_body {
  display: flex;
  overflow-x: scroll;

  scroll-behavior: smooth;
}
.offers_slider_body::-webkit-scrollbar {
  display: none;
}

#products {
  display: grid;
  margin-top: 60px;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.product_card {
  cursor: pointer;
  padding-top: 15px;
  background: #fff;
}
.product_card img {
  width: 100%;
}
.product_card_title {
  padding: 0 15px;
  padding-bottom: 20px;
  height: 15px;
  overflow: hidden;

  text-transform: uppercase;

  color: #2c3e50;
}
#footer_links li {
  color: #2c3e50;
  margin-top: 10px;
}
.company_des {
  padding: 30px;
  background-color: white;
}
.company_des h1,
.company_des h2 {
  text-align: center;
  padding: 20px 0;
  font-weight: 400;
}
.company_des p {
  text-align: center;
  font-weight: 400;
  color: gray;
}

#footer_help nav {
  padding: 40px 0;
  /* background-color: rgba(0, 0, 0, 0.1); */

  font-size: 24px;
  display: flex;
  justify-content: space-around;
}
#footer_help nav p:hover {
  cursor: pointer;
  color: #ce297e;
}
#connect {
  background-color: #ffe8f0;
  padding: 50px 20px;
  width: 100%;
  margin: auto;
  gap: 8%;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
#connect p {
  line-height: 25px;
  font-size: 17px;
}
#connect h4 {
  font-size: 21px;
  /* font-weight: 400; */
  margin: 18px 0;
  line-height: 35px;
}
.feedback > :nth-child(1) ~ h4 {
  padding: 15px 0;
}
#more_stories {
  line-height: 40px;
}
.input {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.input input {
  outline: none;
  padding: 12px;
  border-radius: 5px 0 0 5px;
  border: 1px solid rgba(0, 0, 0, 0.495);
  border: 1px solid black;
}
.input button {
  border: 1px solid black;
  cursor: pointer;
  padding: 10px;
  border-radius: 0 5px 5px 0;
  /* border: none; */
  /* border-left: none; */
  font-weight: 500;
  color: black;
  background-color: #fff;
  font-size: 17px;
  margin-left: -4px;
}

.social_icon {
  font-size: 30px;
  display: flex;
  width: 70%;
  margin: auto;
  justify-content: space-evenly;
}
.social_icon i {
  cursor: pointer;
}
.social_icon i:hover {
  font-size: 40px;
}

#footer_visit {
  padding: 50px 0;
  display: flex;
  background-color: #fff;
  /* justify-content: space-around; */
}
#footer_links {
  /* text-align: center; */
  padding-left: 50px;
  display: grid;
  list-style: none;
  grid-template-columns: repeat(2, 1fr);

  width: 100%;
}
#footer_visit h4 {
  font-size: 21px;
  padding: 20px 0;
}
#location {
  text-align: center;

  width: 40%;
}
#trusted {
  width: 40%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 30px;
}
#trusted img {
  width: 100%;
  cursor: pointer;
}

.footer_copyright {
  font-size: 17px;
  line-height: 25px;
  text-align: center;
  padding: 50px 0;
  color: black;
  background-color: #ffe8f0;
}
.footer_copyright a {
  color: black;
  text-decoration: underline;
}

#top_deals {
  width: 100%;

  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}
.top_deal_card_img {
  width: 80%;
  /* height: 80%; */
  margin: auto;
}
.top_deal_card_img img {
  width: 100%;
  /* height: 100%; */
}
.top_deal_card_title {
  font-size: 14px;
  line-height: 20px;
  /* height: 100%; */
}

@media screen and (max-width: 600px) {
  .navbar a {
    /* display: none; */
  }
  .dropdown .btn {
    display: none;
  }
  .navbar a.icon {
    position: absolute;
    top: 20px;
    right: 20px;
    /* float: left; */
    display: block;
    /* border: 2px solid red; */
  }
  .navbar .logo {
    display: block;
  }
}
@media screen and (max-width: 600px) {
  .navbar.responsive {
    position: relative;
  }
  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar.responsive a {
    /* float: none; */
    display: block;
    text-align: left;
  }
  .navbar.responsive .dropdown {
    float: none;
  }
  .navbar.responsive .dropdown-menu {
    position: relative;
  }
  .navbar.responsive .dropdown .btn {
    display: block;
    width: 100%;
    text-align: left;
  }
}
